<section class="no-padding bg-grey blog-back" id="blogs">
    <div class="">  	
		<div class="bloglistleft">
			<div>
				<span style="color:black;text-algin:left"><h2>&nbsp;&nbsp;最近的文章 	&nbsp; &nbsp; &nbsp; <a href="{{ site.url }}/feed.xml" target="_blank" title="rss" class="btn btn-danger btn-sl wow tada"><img src="{{site.url}}/img/RSS.png" width="25px" height="25px"> RSS 订阅</a></h2></span>				
			</div>

			 {% for post in site.posts limit:10 %}
		       <div class="post-block">
			        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
			        <h2>
			          <a class="post-link" style="color:#34495e" href="{{ post.url | prepend: site.url }}"><h3><strong>{{ post.title }}</strong></h3></a>
			        </h2>
		            
		            <h5 class="post-series">
		                
		            </h5>

		            <div class="tagPanel">  
			            {% for tag in post.tags %}             
			              <a href="{{ site.url }}/all?tag={{tag}}" class="btn btn-danger btn-sm wow tada" style="background-color:#22C3AA;">{{tag}}</a>
			          	{% endfor %}              
		            </div> 
		      
		            <p class="p2">{{ post.excerpt | markdownify }}  </p>       
		        </div>

			{% endfor %}
			<div class="post-block">
		 		
		 	</div>
		 	<div style="margin:0px 0 20px 45%">
		 		<form method="get" action="{{site.url}}/all?">
		 	 		<input type="submit" class="all-post-btn" value="全部博客">
		 		</form>
		 	</div>
		</div>
		
		<div class="taglistright">
		 	<span style="color:black;text-align:center"><h2>分类阅读</h2></span>
		 	{% for tag in site.tags %}
		 	<div class="tag-block">
		 		   <a href="{{ site.url }}/all?tag={{tag[0]}}" class="btn btn-info btn-sl wow tada">{{tag[0]}}</a>
		 	</div>
		 	{% endfor %}
		 	<div class="tag-block">

		 	</div>
		</div>
	</div>

	<div style="clear:both"></div>

</section>