<section class="no-padding" id="fun">
       
    <aside class="bg-info aboutme" style="height:250px">
      <div class="text-center">        
        <div class="call-to-action">
              <h3>我关注一些领域:</h3>
              <br>
              <a href="#fun" class="btn btn-info btn-sm wow tada">旅行</a>
              <a href="#fun" class="btn btn-info btn-sm wow tada">投资</a>
              <a href="#fun" class="btn btn-info btn-sm wow tada">小工具</a>
              <a href="#fun" class="btn btn-info btn-sm wow tada">网站</a>
        </div>

        <br>
        <br>
          <h3>   在这一部分， 将分享一些相关资源</h3>
      </div>
    </aside>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#fun" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                股票
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#fun" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Food
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#fun" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Tourist
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#fun" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Tools
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#fun" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                工具
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#fun" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                               工具
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

     <aside class="bg-info aboutme" style="height:100px;color:red">
      <div class="text-center">         
          <h4> 如果您对相关项目感兴趣， 可通过微信与我联系</h4>
      </div>
    </aside>
</section>
